# Entornos
.venv/
venv/
env/
venv.bak/
env.bak/

# Archivos sensibles
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
*.env.bak*
.env.bak*

# Logs
logs/
*.log

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Vue
node_modules/
dist/
dev-dist/
dist-ssr/
*.local

# IDE
.codegraph/
.cursor/
.agents/
.vscode/
.idea/
*.swp
*.swo
.DS_Store
